<div class="{{ content.type }}">
  <h2>{{ content.title }}</h2>
  <p>{{ content.description }}</p>
  <img *ngIf="content.imgURL;else defaultImage" class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
  By:<em> {{ content.creator }}</em>
  <p>
    <span appHoverAffect highlightType="tag" *ngFor="let tag of content.tags"  >
      #{{ tag }}
    </span><!-- {{ content.tags }} -->
  </p>
  <p appHoverAffect highlightType="type" >Type: {{ content.type }}</p>
</div>
<ng-template #defaultImage>
  <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEClmNeG_UeFb8kSh3TgYRnjCC0qPMNcdaqLHsuOxZDJU4i7XhQqHL7gvmRWlnPhgUMI&usqp=CAU" alt="Default image">
</ng-template>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-5">
        <input [(ngModel)]="searchTerm" placeholder="Enter title">
        <button (click)="search()">Search</button>
        <div *ngIf="message">
          <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
        </div>
  </div> 
      </div>
      <div class="col-md-2"></div>
    </div>
  
    <div class="row">
      <h2 class="m-5">Striker</h2>
      <app-content-list class="col-md-4  mt-5 mx-1 card bg-success text-white" *ngFor="let item of contentArray | contentFilter:'Striker'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
    </div>
  
    <div class="row">
      <h2 class="m-5">AM</h2>
      <app-content-list class="col-md-4  mt-5 mx-1 card bg-dark text-light" *ngFor="let item of contentArray | contentFilter:'AM'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
    </div>

    <div class="row">
      <h2 class="m-5">Winger</h2>
      <app-content-list class="col-md-4  mt-5 mx-1 card bg-primary text-dark" *ngFor="let item of contentArray | contentFilter:'Winger'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
    </div>
 -->