<!DOCTYPE html>
<mat-card>
  <div class="{{ content.type }}">
    <mat-card-header>
      <mat-card-title><h2>{{ content.title }}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img *ngIf="content.imgURL;else defaultImage" class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
      By:<em> {{ content.creator }}</em>
      <p>
      <span appHoverAffect highlightType="tag" *ngFor="let tag of content.tags"  >
        #{{ tag }}
      </span>
      </p>
      <p appHoverAffect highlightType="type" >Type: {{ content.type }}</p>
    </mat-card-content>

  </div>
  <ng-template #defaultImage>
    <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEClmNeG_UeFb8kSh3TgYRnjCC0qPMNcdaqLHsuOxZDJU4i7XhQqHL7gvmRWlnPhgUMI&usqp=CAU" alt="Default image">
  </ng-template>
</mat-card>