<!DOCTYPE html>
<!-- <div class="{{ content.type }}">
    <h2>{{ content.title }}</h2>
    <p>{{ content.description }}</p>
    <img class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
    By:<em> {{ content.creator }}</em>
    <p>{{ content.tags }}</p>
    <p>Type: {{ content.type }}</p>
</div> -->

<!-- <div *ngFor="let players of player" class="shadow">
  <app-content-card [content]="players"></app-content-card>
</div> -->
<app-modify-content (contentAdded)="addContentToList($event)"></app-modify-content>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Striker">
    <h3>Striker</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter:'Striker'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt="" >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEClmNeG_UeFb8kSh3TgYRnjCC0qPMNcdaqLHsuOxZDJU4i7XhQqHL7gvmRWlnPhgUMI&usqp=CAU"  alt="" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        <p class="contentDesc">{{ item.description }}</p>
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="AM">
    <h3>AM</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'AM'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""   >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEClmNeG_UeFb8kSh3TgYRnjCC0qPMNcdaqLHsuOxZDJU4i7XhQqHL7gvmRWlnPhgUMI&usqp=CAU"  alt=""  >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        <p class="contentDesc">{{ item.description }}</p>
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Winger">
    <h3>Winger</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'Winger'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""  >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEClmNeG_UeFb8kSh3TgYRnjCC0qPMNcdaqLHsuOxZDJU4i7XhQqHL7gvmRWlnPhgUMI&usqp=CAU"  alt=""  >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        <p class="contentDesc">{{ item.description }}</p>
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<!-- <app-createcontent (contentCreated)="addNewContent($event)"></app-createcontent> -->
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-5">
        <mat-form-field> <input matInput [(ngModel)]="searchTerm" placeholder="Enter title"></mat-form-field>
        <button mat-raised-button color="primary" (click)="search()">Search</button>
        <div *ngIf="message">
          <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
        </div>
  </div> 
      </div>
      <div class="col-md-2"></div>
    </div>
  
    <div class="row">
      <h2 class="m-5">Type: Striker</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-success text-white" *ngFor="let item of contentList | contentFilter:'Striker'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>
  
    <div class="row">
      <h2 class="m-5">Type: AM</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-dark text-light" *ngFor="let item of contentList | contentFilter:'AM'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>

    <div class="row">
      <h2 class="m-5">Type: Winger</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-primary text-dark" *ngFor="let item of contentList | contentFilter:'Winger'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>
    <div class="row">
      <h2 class="m-5">No Type</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-primary text-dark" *ngFor="let item of contentList | contentFilter:''; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>

  