.image{
    width: 30%;
    margin-left: 10%;
}
#content-card{
    border: 1px solid black;
    margin-bottom: 20px;
    width:30%;
    margin-left: 20%;
    background-color: lightblue;
}
.isFirst{
    border: 10px solid black;
}
